<!doctype html>
<html>
  <head>
  <title>Cascade Solitaire</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/solitaire.css">
  </head>
  <header>
    <div class="actions">
      <%= yield_content :header %>
    </div>
  </header>

  <body>
    <div class="layout">
      <div><%= yield_content :spade_draw_pile %></div>
      <div>
        <%= yield_content :diamond_draw_pile %>
        <%= yield_content :foundation %>
        <%= yield_content :heart_draw_pile %>
      </div>
      <div>
        <% if @current_pile == 2 && @first_play_pile.any? %>
          <a href="/next"><%= yield_content :back %></a>
        <% else %>
          <%= yield_content :blank_with_border %>
        <% end %>
        <%= yield_content :blank %>
        <%= yield_content :club_draw_pile %>
        <%= yield_content :blank %>
        <% if @hand == 1 && @second_play_pile.any? %>
        <a href="/next"><%= yield_content :back %></a>
        <% else %>
          <%= yield_content :blank_with_border %>
        <% end %>
      </div> -->
      <div class="stock"><%= yield_content :play_pile %></div>
    </div>
  </body>
</html>
