<% content_for :header do %>
  <h2 class="title">
    <a href="/">Cascade</a>
  </h2>
<% end %>

<!-- <% content_for :spade_draw_pile do %>
  <% if @spade_draw_pile.any? %>
    <img
      id="spade_draw_pile" 
      src="/cards/back.png"
      alt="spade draw pile">
  <% else %>
    <img
      id="blank_spot"
      src="/cards/blank.png"
      alt="blank spot">
  <% end %>
<% end %>

<% content_for :heart_draw_pile do %>
  <% if @heart_draw_pile.any? %>
    <img
      id="heart_draw_pile"
      src="/cards/back.png"
      alt="heart draw pile">
  <% else %>
    <img
      id="blank_spot"
      src="/cards/blank.png"
      alt="blank spot">
  <% end %>
<% end %>

<% content_for :club_draw_pile do %>
  <% if @club_draw_pile.any? %>
    <img
      id="club_draw_pile"
      src="/cards/back.png"
      alt="club draw pile">
  <% else %>
    <img
      id="blank_spot"
      src="/cards/blank.png"
      alt="blank spot">
  <% end %>
<% end %>

<% content_for :diamond_draw_pile do %>
  <% if @diamond_draw_pile.any? %>
    <img
      id="diamond_draw_pile"
      src="/cards/back.png"
      alt="diamond draw pile">
  <% else %>
    <img
      id="blank_spot"
      src="/cards/blank.png"
      alt="blank spot">
  <% end %>
<% end %>

<% content_for :foundation do %>
  <img
    id="foundation"
    src="/cards/<%= @foundation %>.png"
    alt="<%= @foundation %>">
<% end %>

<% content_for :blank do %>
  <img
    id="blank_spot"
    src="/cards/blank.png"
    alt="blank spot">
<% end %>

<% content_for :blank_with_border do %>
  <img
    id="blank_spot"
    src="/cards/blank.png"
    alt="blank spot">
<% end %>

<% content_for :back do %>
  <img
    id="first_reserve"
    src="/cards/back.png"
    alt="first face down playing hand">
<% end %> -->

<% content_for :play_pile do %>
  <% sort_playable_cards(@current_pile) do |pile| %>
    <% next unless pile[:pile_id] == @current_pile %>
    <% pile.each do |card| %>
      <a href="/<%= card[:file_name] %>">
        <img
          id="current_play_pile"
          src="/cards/<%= card[:file_name] %>.png"
          alt="<%= card[:file_name] %>">
      </a>
    <% end %>
  <% end %>
<% end %>

<!-- <% content_for :play_pile do %>
  <% if @hand == 1 %>
    <% @first_play_pile.each do |card| %>
      <a href="/<%= card %>">
        <img
          id="first_play_pile"
          src="/cards/<%= card %>.png"
          alt="<%= card %>">
      </a>
    <% end %>
  <% else %>
    <% @second_play_pile.each do |card| %>
      <a href="/<%= card %>">
        <img
          id="second_play_pile"
          src="/cards/<%= card %>.png"
          alt="<%= card %>">
      </a>
    <% end %>
  <% end %>
<% end %> -->
